.wrapper{
  width: 100%;

}
.slide-show{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.slide-main{
  z-index: 0;
}
.each-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{

  border-radius:20px
}
.home-wrapper{
  margin-top: 20px;
  overflow: hidden;
  padding: 0 44px 30px;
}





