.wrapper{
 width: 100%;
}
.login-form{
  // width: 30%;
  // border-radius:10px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 10px;
}
.background{
  // width: 70%;
  background-image: url('https://cdn.wallpapersafari.com/59/76/FryXDf.jpg');
  background-size: 100% 100%;
}
