.wrapper{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0 8px;
  position: sticky;
  top: 74px;
  width: var(--width);
  z-index: 8;
}

.addition{
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-default);
  border-color: var(--color-default);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  height: 44px;
  margin: 8px 0 2px;
}

.body{
  ul{
    margin-top: 20px;
    }
  }
  .side-li{
    color: #404040;
    background-color: #fff;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-top: 4px;
    width: 72px;
    transition: transform 0.5s, filter 0.5s ease-in-out;
    transform-origin: center center;
    &:hover{
      transform: scale(1.1);
      z-index: 200;
      color: #1a1a1a;
      background-color: #eeebeb;
    }
  }
  
