.wrapper{
  display: flex;
  align-items: center;
  height: 65px;
  background-color: #fff;
  border-bottom: 1px solid #e8ebed;
  font-size: 1.4rem;
  left: 0;
  padding: 0 28px;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1000;
}
.logo{
  flex: 1;
  display: flex;
  align-items: center;
}

.img{
  border-radius: 8px;
  flex-shrink: 0;
  height: 38px;
  object-fit: contain;
  width: 38px;
}

.title{
  color: #000;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 16px;
}


.search{
  flex: 1;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(194, 194, 194);
  border-radius:20px;
}
.body{
  display: flex;
}
.icon-search{
  background-color: #fff;
  background-image: url('https://fullstack.edu.vn/static/media/search.9bd3926522ea0937310c.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 18px;
  border-radius: 50%;
  height: 32px;
  opacity: .7;
  transition: opacity .2s ease-in-out;
  width: 30px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.input{
  border: none;
  height: 100%;
  margin-right: 10px;
  flex: 1;
  caret-color: #444;
  height: 100%;
  outline: none;
  padding: 0 4px;
}

.action{
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.bell{
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 18px;
  border-radius: 50%;
  height: 32px;
  opacity: .7;
  transition: opacity .2s ease-in-out;
  width: 30px;
  margin: 8px;
}

.icon-user{
  background-color: #fff;
  background-position: 50%;
  background-size: 18px;
  border-radius: 50%;
  height: 30px;
  opacity: .7;
  transition: opacity .2s ease-in-out;
  width: 30px;
  margin: 0 8px;
}
.user{
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-user{
  font-size:18px;
  font-weight:bold;
  cursor: pointer;
}
.sub-menu-wrapper{
  position: absolute;
  width: 250px;
  top:100%;
  right:1%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  
}
.open-menu{
  max-height: 400px;
}
.sub-menu{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin:5px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  hr{
    width: 100%;
    color: #000000;
    margin: 10px 5px;
    
  }
}
.user-info{
  display: flex;
  align-items: center;
}

.sub-menu-list-item{
  display: flex;
  align-items: center;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  &:hover {
    font-weight:600;
    transform: scale(1.078);
  }
}
.sub-menu-item-icon{
  font-size:25px;
  margin: 5px;
}
.sub-menu-item-text{
  padding: 5px;
}