.heading-container{
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content:space-between;

}
.list-heading{
  width: max-content;
  color: #242424;
  font-size: 2.4rem;
  font-weight: 900;
  display: flex;
  margin-right: 10px;
}
.list-span{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.span-heading{
  background-color: var(--color-default);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: rgb(255, 251, 0);
  font-size: 1.2rem;
  padding: 3px 6px;
  margin-left: 10px;
}
.extra-info{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-default);
  margin-right: 10px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}
.lists-item{
  margin-bottom: 8px;
}
.item-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: unset;
  position: relative;
}
.card-img-team{
  height: 230px;
  background-color: rgba(0,0,0,.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: block;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: 230px;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  transform-origin: center center;
  &:hover{
    transform: scale(1.1);
    z-index: 200;
  }
}
.title{
  justify-content: space-between;
}
.card-title{
  color: #292929;
  font-size: 18px;
  font-weight:bold;
  
}
.action{
  justify-content: left;
  align-items: center;
}